template.json
{
	"$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"connections_teams_name": {
			"defaultValue": "teams",
			"type": "String"
		},
		"logicapp_name": {
			"defaultValue": "GPTTool",
			"type": "String"
		},
		"connections_azureblob_name": {
			"defaultValue": "azureblob",
			"type": "String"
		},
		"connections_httpwitnentraid_name": {
			"defaultValue": "webcontents",
			"type": "String"
		},
		"location": {
			"type": "string",
			"defaultValue": "[resourceGroup().location]"
		},
		"openai_apikey": {
			"type": "string"
		},
		"openai_endpoint": {
			"type": "string"
		},
		"teams_channel_keyword": {
			"type": "String",
			"defaultValue": "ChatGPT"
		},
		"teams_channel_id": {
			"type": "string"
		},
		"teams_group_id": {
			"type": "string"
		},
		"storage_account_name": {
			"type": "string"
		},
		"storage_account_accesskey": {
			"type": "string"
		}
	},
	"variables": {},
	"resources": [
		{
			"type": "Microsoft.Web/connections",
			"apiVersion": "2016-06-01",
			"name": "[parameters('connections_azureblob_name')]",
			"location": "[parameters('location')]",
			"kind": "V1",
			"properties": {
				"api": {
					"id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', parameters('location'), '/managedApis/', 'azureblob')]"
				},
				"parameterValueSet": {
					"name": "keyBasedAuth",
					"values": {
						"accountName": {
							"value": "[parameters('storage_account_name')]"
						},
						"accessKey": {
							"value": "[parameters('storage_account_accesskey')]"
						}
					}
				},
				"displayName": "StorageForOpenAI"
			}
		},
		{
			"type": "Microsoft.Web/connections",
			"apiVersion": "2016-06-01",
			"name": "[parameters('connections_teams_name')]",
			"location": "[parameters('location')]",
			"kind": "V1",
			"properties": {
				"api": {
					"id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', parameters('location'), '/managedApis/', 'teams')]"
				},
				"displayName": "TeamsChannel"
			}
		},
		{
			"type": "Microsoft.Web/connections",
			"apiVersion": "2016-06-01",
			"name": "[parameters('connections_httpwitnentraid_name')]",
			"location": "[parameters('location')]",
			"kind": "V1",
			"properties": {
				"api": {
					"id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', parameters('location'), '/managedApis/', 'webcontents')]"
				},
				"parameterValues": {
					"baseResourceUrl": "https://graph.microsoft.com",
					"token:ResourceUri": "https://graph.microsoft.com"
				},
				"displayName": "GraphAPICall"
			}
		},
		{
			"type": "Microsoft.Logic/workflows",
			"apiVersion": "2017-07-01",
			"name": "[parameters('logicapp_name')]",
			"location": "[parameters('location')]",
			"dependsOn": [
				"[resourceId('Microsoft.Web/connections', parameters('connections_azureblob_name'))]",
				"[resourceId('Microsoft.Web/connections', parameters('connections_teams_name'))]",
				"[resourceId('Microsoft.Web/connections', parameters('connections_httpwitnentraid_name'))]"
			],
			"properties": {
				"state": "Enabled",
				"definition": {
					"$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
					"actions": {
						"For_each_3": {
							"actions": {
								"Append_to_array_variable_-_Append_User_PlaceHolder": {
									"inputs": {
										"name": "LatestConversation",
										"value": {
											"content": "{{UserPlaceHolder}}",
											"role": "user"
										}
									},
									"runAfter": {
										"Append_to_array_variable_-_Append_latest_response": [
											"Succeeded"
										]
									},
									"type": "AppendToArrayVariable"
								},
								"Append_to_array_variable_-_Append_latest_response": {
									"inputs": {
										"name": "LatestConversation",
										"value": {
											"content": "@{outputs('Compose_-_Get_First_Choice')}",
											"role": "system"
										}
									},
									"runAfter": {
										"Set_variable_-_Store_Previous_Convertsation": [
											"Succeeded"
										]
									},
									"type": "AppendToArrayVariable"
								},
								"Compose": {
									"inputs": "@replace(variables('HistoricalMessages'), '\"{{UserPlaceHolder}}\"', string(outputs('Compose_-_Format')))",
									"runAfter": {
										"Compose_-_Format": [
											"Succeeded"
										]
									},
									"type": "Compose"
								},
								"Compose_-_Format": {
									"inputs": "@variables('UserContent')",
									"runAfter": {
										"Set_variable": [
											"Succeeded",
											"Skipped"
										],
										"Set_variable_2": [
											"Succeeded",
											"Skipped"
										]
									},
									"type": "Compose"
								},
								"Compose_-_Get_First_Choice": {
									"inputs": "@first(body('Parse_JSON_2')?['choices'])?['message']?['content']",
									"runAfter": {
										"Parse_JSON_2": [
											"Succeeded"
										]
									},
									"type": "Compose"
								},
								"Create_blob_(V2)": {
									"inputs": {
										"body": "[[\n{\n\t\"role\": \"system\",\n\t\"content\": \"You are an AI assistant that helps people find information.\"\n},\n {\n \"content\": \"{{UserPlaceHolder}}\",\n \"role\": \"user\"\n }\n]",
										"headers": {
											"ReadFileMetadataFromServer": true
										},
										"host": {
											"connection": {
												"name": "@parameters('$connections')['azureblob']['connectionId']"
											}
										},
										"method": "post",
										"path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent(parameters('blobname')))}/files",
										"queries": {
											"folderPath": "gpt",
											"name": "@{body('Parse_JSON_3')?['replyToId']}.json",
											"queryParametersSingleEncoded": true
										}
									},
									"runAfter": {
										"Get_blob_content_using_path_(V2)": [
											"Failed"
										]
									},
									"runtimeConfiguration": {
										"contentTransfer": {
											"transferMode": "Chunked"
										}
									},
									"type": "ApiConnection"
								},
								"Get_blob_content_using_path_(V2)": {
									"inputs": {
										"host": {
											"connection": {
												"name": "@parameters('$connections')['azureblob']['connectionId']"
											}
										},
										"method": "get",
										"path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent(parameters('blobname')))}/GetFileContentByPath",
										"queries": {
											"inferContentType": true,
											"path": "gpt/@{body('Parse_JSON_3')?['replyToId']}.json",
											"queryParametersSingleEncoded": true
										}
									},
									"runAfter": {
										"Scope_-_new_logic_for_image": [
											"Succeeded"
										]
									},
									"type": "ApiConnection"
								},
								"Get_message_details": {
									"inputs": {
										"body": {
											"recipient": {
												"channelId": "@decodeUriComponent(parameters('channelId'))",
												"groupId": "[parameters('teams_group_id')]",
												"parentMessageId": "@items('For_each_3')?['replyToMessageId']"
											}
										},
										"host": {
											"connection": {
												"name": "@parameters('$connections')['teams']['connectionId']"
											}
										},
										"method": "post",
										"path": "/beta/teams/messages/@{encodeURIComponent(items('For_each_3')?['messageId'])}/messageType/@{encodeURIComponent('channel')}"
									},
									"runAfter": {},
									"type": "ApiConnection"
								},
								"HTTP": {
									"inputs": {
										"body": {
											"frequency_penalty": 0,
											"max_tokens": 1000,
											"messages": "@json(outputs('Compose'))",
											"presence_penalty": 0,
											"stop": null,
											"temperature": 0.7,
											"top_p": 0.95
										},
										"headers": {
											"Content-Type": "application/json",
											"api-key": "[parameters('openai_apikey')]"
										},
										"method": "POST",
										"uri": "[parameters('openai_endpoint')]"
									},
									"runAfter": {
										"Compose": [
											"Succeeded"
										]
									},
									"type": "Http"
								},
								"Parse_JSON": {
									"inputs": {
										"content": "@outputs('Compose')",
										"schema": {
											"items": {
												"properties": {
													"content": {},
													"role": {
														"type": "string"
													}
												},
												"required": [
													"role",
													"content"
												],
												"type": "object"
											},
											"type": "array"
										}
									},
									"runAfter": {
										"Reply_with_a_message_in_a_channel": [
											"Succeeded"
										]
									},
									"type": "ParseJson"
								},
								"Parse_JSON_2": {
									"inputs": {
										"content": "@body('HTTP')",
										"schema": {
											"properties": {
												"choices": {
													"items": {
														"properties": {
															"message": {
																"properties": {
																	"content": {
																		"type": "string"
																	},
																	"role": {
																		"type": "string"
																	}
																},
																"type": "object"
															}
														},
														"required": [
															"message"
														],
														"type": "object"
													},
													"type": "array"
												},
												"usage": {
													"properties": {
														"completion_tokens": {
															"type": "integer"
														},
														"prompt_tokens": {
															"type": "integer"
														},
														"total_tokens": {
															"type": "integer"
														}
													},
													"type": "object"
												}
											},
											"type": "object"
										}
									},
									"runAfter": {
										"HTTP": [
											"Succeeded"
										]
									},
									"type": "ParseJson"
								},
								"Parse_JSON_3": {
									"inputs": {
										"content": "@body('Get_message_details')",
										"schema": {
											"properties": {
												"body": {
													"properties": {
														"plainTextContent": {
															"type": "string"
														}
													},
													"type": "object"
												},
												"channelIdentity": {
													"properties": {
														"channelId": {
															"type": "string"
														},
														"teamId": {
															"type": "string"
														}
													},
													"type": "object"
												},
												"id": {
													"type": "string"
												},
												"replyToId": {
													"type": "string"
												}
											},
											"type": "object"
										}
									},
									"runAfter": {
										"Get_message_details": [
											"Succeeded"
										]
									},
									"type": "ParseJson"
								},
								"Reply_with_a_message_in_a_channel": {
									"inputs": {
										"body": {
											"messageBody": "<p>@{replace(outputs('Compose_-_Get_First_Choice'),'\n','<br>')}</p>",
											"parentMessageId": "@items('For_each_3')?['replyToMessageId']",
											"recipient": {
												"channelId": "@decodeUriComponent(parameters('channelId'))",
												"groupId": "[parameters('teams_group_id')]"
											}
										},
										"host": {
											"connection": {
												"name": "@parameters('$connections')['teams']['connectionId']"
											}
										},
										"method": "post",
										"path": "/v1.0/teams/conversation/replyWithMessage/poster/@{encodeURIComponent('Flow bot')}/location/@{encodeURIComponent('Channel')}"
									},
									"runAfter": {
										"Compose_-_Get_First_Choice": [
											"Succeeded"
										]
									},
									"type": "ApiConnection"
								},
								"Scope_-_new_logic_for_image": {
									"actions": {
										"Compose_-_split_Teams_content": {
											"inputs": "@split(body('Get_message_details')?['body']?['content'], '\n')",
											"runAfter": {},
											"type": "Compose"
										},
										"Condition_-_append_remain_text": {
											"actions": {
												"Append_to_array_variable": {
													"inputs": {
														"name": "UserContent",
														"value": {
															"text": "@{trim(variables('tempPlainText'))}",
															"type": "text"
														}
													},
													"runAfter": {},
													"type": "AppendToArrayVariable"
												}
											},
											"expression": {
												"and": [
													{
														"equals": [
															"@empty(variables('tempPlainText'))",
															false
														]
													}
												]
											},
											"runAfter": {
												"For_each_-_single_Teams_channel_content": [
													"Succeeded"
												]
											},
											"type": "If"
										},
										"For_each_-_single_Teams_channel_content": {
											"actions": {
												"Compose_-_remove_label_p": {
													"inputs": "@replace(replace(items('For_each_-_single_Teams_channel_content'), '<p>', ''), '</p>', '')",
													"runAfter": {},
													"type": "Compose"
												},
												"Condition": {
													"actions": {
														"Append_to_array_variable_-_img": {
															"inputs": {
																"name": "UserContent",
																"value": {
																	"image_url": {
																		"url": "data:image/png;base64, @{body('Invoke_an_HTTP_request')?['$content']}"
																	},
																	"type": "image_url"
																}
															},
															"runAfter": {
																"Invoke_an_HTTP_request": [
																	"Succeeded"
																]
															},
															"type": "AppendToArrayVariable"
														},
														"Compose_-_format_hosted_content_url": {
															"inputs": "@replace(outputs('Compose_-_format_url'), '/v1.0/', '/beta/')",
															"runAfter": {
																"Compose_-_format_url": [
																	"Succeeded"
																]
															},
															"type": "Compose"
														},
														"Compose_-_format_url": {
															"inputs": "@concat(split(split(outputs('Compose_-_remove_label_p'), 'src=\"')[1], '/$value')[0], '/$value')",
															"runAfter": {
																"Condition_-_append_plain_text_if_not_empty": [
																	"Succeeded"
																]
															},
															"type": "Compose"
														},
														"Condition_-_append_plain_text_if_not_empty": {
															"actions": {
																"Append_to_array_variable_-_append_plain_text": {
																	"inputs": {
																		"name": "UserContent",
																		"value": {
																			"text": "@{trim(variables('tempPlainText'))}",
																			"type": "text"
																		}
																	},
																	"runAfter": {},
																	"type": "AppendToArrayVariable"
																}
															},
															"expression": {
																"and": [
																	{
																		"equals": [
																			"@empty(variables('tempPlainText'))",
																			false
																		]
																	}
																]
															},
															"runAfter": {},
															"type": "If"
														},
														"Invoke_an_HTTP_request": {
															"inputs": {
																"body": {
																	"method": "GET",
																	"url": "@{outputs('Compose_-_format_hosted_content_url')}"
																},
																"host": {
																	"connection": {
																		"name": "@parameters('$connections')['webcontents']['connectionId']"
																	}
																},
																"method": "post",
																"path": "/codeless/InvokeHttp"
															},
															"runAfter": {
																"Compose_-_format_hosted_content_url": [
																	"Succeeded"
																]
															},
															"type": "ApiConnection"
														},
														"Set_variable_-_clear_temp_plain_text": {
															"inputs": {
																"name": "tempPlainText",
																"value": "@{null}"
															},
															"runAfter": {
																"Append_to_array_variable_-_img": [
																	"Succeeded"
																]
															},
															"type": "SetVariable"
														}
													},
													"else": {
														"actions": {
															"Append_to_string_variable_-_plain_text": {
																"inputs": {
																	"name": "tempPlainText",
																	"value": "@replace(replace(replace(replace(replace(replace(body('Parse_JSON_3')?['body']?['plainTextContent'], '\\', '\\\\'), '\"', '\\\"'), '\r\n', '\\n'), '\r\n', '\\r'),'​', ''), '&nbsp;', '')"
																},
																"runAfter": {},
																"type": "AppendToStringVariable"
															}
														}
													},
													"expression": {
														"and": [
															{
																"startsWith": [
																	"@outputs('Compose_-_remove_label_p')",
																	"<img"
																]
															}
														]
													},
													"runAfter": {
														"Compose_-_remove_label_p": [
															"Succeeded"
														]
													},
													"type": "If"
												}
											},
											"foreach": "@outputs('Compose_-_split_Teams_content')",
											"runAfter": {
												"Compose_-_split_Teams_content": [
													"Succeeded"
												]
											},
											"type": "Foreach"
										}
									},
									"runAfter": {
										"Parse_JSON_3": [
											"Succeeded"
										]
									},
									"type": "Scope"
								},
								"Set_variable": {
									"inputs": {
										"name": "HistoricalMessages",
										"value": "[\n\t\t{\n\t\t\t\"role\": \"system\",\n\t\t\t\"content\": \"You are Bob, an IT Security Expert\"\n\t\t},\n    {\n      \"content\": \"{{UserPlaceHolder}}\",\n      \"role\": \"user\"\n    }\n\t]\n"
									},
									"runAfter": {
										"Create_blob_(V2)": [
											"Succeeded"
										]
									},
									"type": "SetVariable"
								},
								"Set_variable_-_Store_Previous_Convertsation": {
									"inputs": {
										"name": "LatestConversation",
										"value": "@body('Parse_JSON')"
									},
									"runAfter": {
										"Parse_JSON": [
											"Succeeded"
										]
									},
									"type": "SetVariable"
								},
								"Set_variable_2": {
									"inputs": {
										"name": "HistoricalMessages",
										"value": "@{body('Get_blob_content_using_path_(V2)')}"
									},
									"runAfter": {
										"Get_blob_content_using_path_(V2)": [
											"Succeeded"
										]
									},
									"type": "SetVariable"
								},
								"Update_blob_(V2)": {
									"inputs": {
										"body": "@string(variables('LatestConversation'))",
										"headers": {
											"ReadFileMetadataFromServer": true
										},
										"host": {
											"connection": {
												"name": "@parameters('$connections')['azureblob']['connectionId']"
											}
										},
										"method": "put",
										"path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent(parameters('blobname')))}/files/@{encodeURIComponent(encodeURIComponent('gpt/',body('Parse_JSON_3')?['replyToId'],'.json'))}"
									},
									"runAfter": {
										"Append_to_array_variable_-_Append_User_PlaceHolder": [
											"Succeeded"
										]
									},
									"type": "ApiConnection"
								}
							},
							"foreach": "@triggerBody()?['value']",
							"runAfter": {
								"Initialize_variable_-_tempPlainText": [
									"Succeeded"
								]
							},
							"runtimeConfiguration": {
								"concurrency": {
									"repetitions": 1
								}
							},
							"type": "Foreach"
						},
						"Initialize_variable_-_HistoricalMessages": {
							"inputs": {
								"variables": [
									{
										"name": "HistoricalMessages",
										"type": "string"
									}
								]
							},
							"runAfter": {},
							"type": "InitializeVariable"
						},
						"Initialize_variable_-_LatestConversation": {
							"inputs": {
								"variables": [
									{
										"name": "LatestConversation",
										"type": "array",
										"value": []
									}
								]
							},
							"runAfter": {
								"Initialize_variable_-_HistoricalMessages": [
									"Succeeded"
								]
							},
							"type": "InitializeVariable"
						},
						"Initialize_variable_-_User_Content": {
							"inputs": {
								"variables": [
									{
										"name": "UserContent",
										"type": "array",
										"value": []
									}
								]
							},
							"runAfter": {
								"Initialize_variable_-_LatestConversation": [
									"Succeeded"
								]
							},
							"type": "InitializeVariable"
						},
						"Initialize_variable_-_tempPlainText": {
							"inputs": {
								"variables": [
									{
										"name": "tempPlainText",
										"type": "string"
									}
								]
							},
							"runAfter": {
								"Initialize_variable_-_User_Content": [
									"Succeeded"
								]
							},
							"type": "InitializeVariable"
						}
					},
					"contentVersion": "1.0.0.0",
					"outputs": {},
					"parameters": {
						"$connections": {
							"defaultValue": {},
							"type": "Object"
						},
						"blobname": {
							"defaultValue": "[parameters('storage_account_name')]",
							"type": "String"
						},
						"channelId": {
							"defaultValue": "[parameters('teams_channel_id')]",
							"type": "String"
						}
					},
					"triggers": {
						"When_keywords_are_mentioned": {
							"inputs": {
								"body": {
									"channels": [
										"@decodeUriComponent(parameters('channelId'))"
									],
									"groupId": "[parameters('teams_group_id')]",
									"notificationUrl": "@{listCallbackUrl()}"
								},
								"host": {
									"connection": {
										"name": "@parameters('$connections')['teams']['connectionId']"
									}
								},
								"path": "/beta/subscriptions/keywordtrigger/threadType/@{encodeURIComponent('channel')}",
								"queries": {
									"$search": "GPT"
								}
							},
							"type": "ApiConnectionWebhook"
						}
					}
				},
				"parameters": {
					"$connections": {
						"value": {
							"azureblob": {
								"connectionId": "[resourceId('Microsoft.Web/connections', parameters('connections_azureblob_name'))]",
								"connectionName": "azureblob",
								"id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', parameters('location'), '/managedApis/', 'azureblob')]"
							},
							"teams": {
								"connectionId": "[resourceId('Microsoft.Web/connections', parameters('connections_teams_name'))]",
								"connectionName": "teams",
								"id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', parameters('location'), '/managedApis/', 'teams')]"
							},
							"webcontents": {
								"connectionId": "[resourceId('Microsoft.Web/connections', parameters('connections_httpwitnentraid_name'))]",
								"connectionName": "teams",
								"id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', parameters('location'), '/managedApis/', 'webcontents')]"
							}
						}
					}
				}
			}
		}
	]
}